{% extends 'base.html' %}
{% block main_margin %}0{% endblock %}
{% block css %}
    .input-padding {
        margin-top: 11px;
    }
    .btn-padding {
        margin-top: 20px;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 5px;
    }
    {% if r %}.transition { opacity: 0; }{% endif %}
{% endblock %}
{% block header %}
    <div class="transition centered" style="margin-bottom: 20px;">
        <img src="https://www.google.com/images/srpr/logo11w.png">
    </div>
{% endblock %}
{% block gridster_height %}420{% endblock %}
{% block gridster_widgets %}
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
        <h1>create your account</h1>
        <form id="create_your_account">
            <div class="input-padding">
                <h4>username</h4>
                <input type="text" class="form-control" required>
            </div>
            <div class="input-padding">
                <h4>password</h4>
                <input type="password" class="form-control" required>
            </div>
            <div class="input-padding">
                <h4>one more time</h4>
                <input type="password" class="form-control" required>
            </div>
            <div class="input-padding">
                <h4>email</h4>
                <input type="email" class="form-control" required>
            </div>
            <div class="btn-padding">
                <button type="submit" class="btn btn-primary">create my account</button>
            </div>
        </form>
    </li>
    <li data-row="1" data-col="4" data-sizex="4" data-sizey="1">
        <h1>one-time thing or something</h1>
        content here
    </li>
    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
        <h1>updates</h1>
        updates here
    </li>
    <li data-row="2" data-col="6" data-sizex="2" data-sizey="2">
        <h1>sign in</h1>
        <form id="sign_in">
            <div class="input-padding">
                <h4>username</h4>
                <input type="text" class="form-control" autofocus required>
            </div>
            <div class="input-padding">
                <h4>password</h4>
                <input type="password" class="form-control" required>
            </div>
            <div class="btn-padding">
                <button type="submit" class="btn btn-primary">sign in</button>
            </div>
        </form>
    </li>
{% endblock %}
{% block footer %}
    <div class="transition centered">
        <span class="footer-item">
            <a href="{{ url_for('static', filename='forgotyourpassword') }}">forgot your password?</a>
        </span>&middot;
        <span class="footer-item">
            <a href="{{ url_for('static', filename='howthingswork') }}">how things work</a>
        </span>&middot;
        <span class="footer-item">
            <a href="{{ url_for('static', filename='mumbojumbo') }}">mumbo jumbo</a>
        </span>
    </div>
{% endblock %}
{% block js %}
    $('#sign_in').submit(function() {
        var inputs = $('#sign_in input');
        $.post("{{ url_for('user.signin') }}", {username: inputs.eq(0).val(), password: inputs.eq(1).val()}).done(function(json) {
            if (json.success) {
                $('main > div.carousel').on('slid.bs.carousel', function () {
                    $('.transition').fadeTo(400, 0, function() {
                        $('main').animate({marginTop: -110}, 400);
                        $('main div.item').animate({height: 560}, 400, function() { location.href = '/dashboard?r=home'; });
                    });
                });
                $('main > div.carousel').carousel('next');
            }
            else {
            
                // do error stuff here
                
            }
        });
        return false;
    });
    $('#create_your_account').submit(function() {
        var inputs = $('#create_your_account input');
        
        // check if passwords match before sending req here
        
        $.post("{{ url_for('user.new') }}", {username: inputs.eq(0).val(), password: inputs.eq(1).val(), email: inputs.eq(3).val()}).done(function(json) {
            if (json.success) {
                $('main > div.carousel').on('slid.bs.carousel', function () {
                    $('.transition').fadeTo(400, 0, function() {
                        $('main').animate({marginTop: -110}, 400);
                        $('main div.item').animate({height: 560}, 400, function() { location.href = '/user?r=home'; });
                    });
                });
                $('main > div.carousel').carousel('next');
            }
            else {
            
                // do error stuff here
                
            }
        });
        return false;
    });
{% endblock %}
