{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}AtlasCMS{% endblock title %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.cs">
        <style>
            li.hideMe {
                display: none;
            }
            li.active {
                font-weight: bold;
                border-left: 3px solid #333;
                display: block;
            }
        </style>
        {% render_block "css" %}
    </head>
    <body style="margin-top: 50px; position: relative; height: 300px; overflow-y: scroll;" data-spy="scroll" data-target=".spy-on-me">
        {% cms_toolbar %}
        <main class="container">
            <div class="row">
                <div id="content" class="col-lg-9">
                    <div class="jumbotron">
                        {% placeholder "feature" %}
                    </div>
                    {% placeholder "content" %}
                </div>
                <div class="col-lg-3">
                    <div style="position: fixed;" class="spy-on-me">
                        <ul class="nav" style="border-left: 1px solid #777;">
                        
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <div style="background-color: #eee; margin-top: 100px; padding: 50px;">
            <div class="footer container">
            
            </div>
        </div>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script>
            $('img').attr('style', 'background-color: #eee; border: 2px solid #ddd; padding: 3px;');
            var footer = $('#content').html().match(/{footer}(.*?){\/footer}/)[1];
            $('#content').html($('#content').html().replace(/{footer}.*?{\/footer}/, ''));

            $('.footer').html(footer);
            
            var headers = $('#content h1,#content h2,#content h3');
            var html = '';

            var i = 1;
            while (headers.eq(i).prop('tagName') == 'H1') {
                html += '<li><a href="#section'+(i+1)+'">'+headers.eq(i).find('strong').html()+'</a>';
                headers.eq(i).attr('id', 'section'+(i+1));
                
                i++;

                if (headers.eq(i).prop('tagName') == 'H2') {
                    html += '<ul class="nav" style="font-size: 10pt;">';
                    
                    while (headers.eq(i).prop('tagName') == 'H2') {
                        html += '<li class=""><a href="#section'+(i+1)+'">'+headers.eq(i).find('strong').html()+'</a>';
                        headers.eq(i).attr('id', 'section'+(i+1));

                        i++;

                        if (headers.eq(i).prop('tagName') == 'H3') {
                            html += '<ul class="nav" style="font-size: 8pt;">';
                            
                            while (headers.eq(i).prop('tagName') == 'H3') {
                                html += '<li class="hideMe"><a href="#section'+(i+1)+'">'+headers.eq(i).find('strong').html()+'</a>';
                                headers.eq(i).attr('id', 'section'+(i+1));

                                i++;
                            }

                            html += '</ul></li>';
                        }
                        else html += '</li>';
                    }

                    html += '</ul></li>';
                }
                else html += '</li>';
            }
            
            $('.spy-on-me > .nav').html(html);
        
        </script>
        {% render_block "js" %}
    </body>
</html>
