{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}AtlasCMS{% endblock title %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.cs">
        <style>
            li.active {
                font-weight: bold;
                border-left: 3px solid #333;
            }
        </style>
        {% render_block "css" %}
    </head>
    <body style="margin-top: 100px; position: relative; height: 300px; overflow-y: scroll;" data-spy="scroll" data-target=".spy-on-me">
        {% cms_toolbar %}
        <div class="jumbotron">
            <div class="container">
                {% placeholder "feature" %}
            </div>
        </div>
        <main class="container">
            <div class="row">
                <div id="content" class="col-lg-10">
                    {% placeholder "content" %}
                </div>
                <div class="col-lg-2">
                    <div style="position: fixed;" class="spy-on-me">
                        <ul class="nav" style="border-left: 1px solid #777">
                        
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <div style="background-color: #eee; margin-top: 100px; padding: 50px;">
            <div class="footer container">
            
            </div>
        </div>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script>
            $('img').attr('style', 'background-color: #eee; border: 2px solid #ddd; padding: 3px;');
            var footer = $('#content').html().match(/{footer}(.*?){\/footer}/)[1];
            $('#content').html($('#content').html().replace(/{footer}.*?{\/footer}/, ''));

            $('.footer').html(footer);
            
            var headers = $('#content h1');
            var html = '';
            headers.each(function(i) {
                html += '<li><a href="#section'+(i+1)+'">'+$(this).html()+'</a></li>';
                $(this).attr('id', 'section'+(i+1));
                $(this).css('padding-top', 100);
            });
            $('.spy-on-me > .nav').html(html);
        
        </script>
        {% render_block "js" %}
    </body>
</html>
