{% extends 'base.html' %}
{% block title %}{{ user.username }} &middot; PickPicks{% endblock %}
{% block css %}
    {% if r == 'home' %}
        .transition {
            opacity: 0;
        }
    {% endif %}
{% endblock %}
{% block header %}
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top transition" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PickPicks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/dashboard?r=user">Dashboard</a></li>
            <li><a href="/league/Buffalo Wild Wings?r=user" class="transition">League</a></li>
            <li><a href="/user">User</a></li>
            <li><a id="sign_out" href="/?r=user">Sign out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block gridster_height %}560{% endblock %}
{% block gridster_widgets %}
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>
     
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
        Username: {{ user.username }}<br>
        Email: {{ user.email }}<br>
        Name: {{ user.name }}
    </li>
     
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
    <li data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>
     
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>
     
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>
    
    <li data-row="4" data-col="1" data-sizex="3" data-sizey="1"></li>
    <li data-row="4" data-col="4" data-sizex="3" data-sizey="1"></li>
{% endblock %}
