body {
    font-family: Ubuntu;
    margin: 50px 0px 100px 0px;
}
.gs-w {
    background-color: #eeeeee;
    color: #004756;
    list-style: none;
    padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
.centered {
    text-align: center;
}
.btn-primary {
    color: #eeeeee !important;
    background-image: -webkit-linear-gradient(top, #00657a 0%, #004756 100%);
    background-image: linear-gradient(to bottom, #00657a 0%, #004756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00657a', endColorstr='#ff004756', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #003844;
    width: 100%;
    outline: none !important;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #004756;
    background-position: 0 -15px;
}
.btn-primary:active, .btn-primary.active {
    background-color: #004756;
    border-color: #003844;
}
